@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.modified-btn {
  @apply btn btn-ghost;
  min-height: 1rem;
  height: auto;
  padding: 4px 0px 4px 1rem;
  width: 14rem;
  justify-content: flex-start;
  text-transform: none;
}

